<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Dashboard </title>

{% include 'dashbord/inludes/static.html' %}

{% block head %}

{% endblock head %}

</head>

<body>
{% block menu %}
{% endblock menu %}
{% include 'dashbord/inludes/menubar.html' %}
{% block sidebar %}

{% endblock sidebar %}
{% include 'dashbord/inludes/sidebar.html' %}
{% block contents %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				{% block bradcrum %}
					
				{% endblock %}
			</ol>
		</div><!--/.row-->
		

		{% block content %}
		{% endblock content %}

	</div>
{% endblock contents %}


{% block footer %}

{% endblock footer %}


{% include 'dashbord/inludes/scripts.html' %}

{% block js %}
{% endblock js %}

</body>

</html>

