{% extends 'dashbord/base.html' %}

{% block bradcrum %}
	<li class="active">Dashbord</li>
{% endblock %}
{% block menu_active%}active{% endblock %}

{% block content %}

	{% include 'dashbord/inludes/points.html' %}


	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Team Points summary</div>
				<div class="panel-body">
					<table class="table">
					    <thead>
					    <tr>
					        <th>Rating</th>
					        <th>Team</th>
					    </tr>
					    </thead>
					    <tbody>
					    	{% for team in teams %}
					    	<tr>
					    		<td>{{ forloop.counter }}</td>
					    		<td>{{ team.0 }}</td>
					    	</tr>
					    	{% endfor %}
					    </tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Points summary</div>
				<div class="panel-body">
					<table class="table">
					    <thead>
					    <tr>
					        <th>username</th>
					        <th>team</th>
					        <th>Scored</th>
					    </tr>
					    </thead>
					    <tbody>
					    	{% for score in top_scores %}
					    	<tr>
					    		<td>{{score.participant__username}}</td>
					    		<td>{{score.team_name}}</td>
					    		<td>{{score.sum_score}}</td>
					    	</tr>
					    	{% endfor %}
					    </tbody>
					</table>
				</div>
			</div>
		</div>

	</div><!--/.row-->	


{% endblock content %}

