{% extends 'dashbord/base.html' %}

{% block bradcrum %}
	<li class="active">Dashbord</li>
{% endblock %}
{% block menu_active%}active{% endblock %}

{% block content %}

	{% include 'dashbord/inludes/points.html' %}


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Points summary</div>
				<div class="panel-body">
					<table class="table">
					    <thead>
					    <tr>
					        <th>Heading</th>
					        <th >Points</th>
					        <th>Name</th>
					        <th>Added By</th>
					    </tr>
					    </thead>
					    <tbody>
					    	{% for point in request.user.team.team_points.all %}
					    	<tr>
					    		<td style="max-width:400px;"> {{point.task_details}} </td>
					    		<td>{{point.point}}</td>
					    		<td>{{point.participant}}</td>
					    		<td>{{point.added_by}}</td>
					    	</tr>
					    	{% endfor %}
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!--/.row-->	


{% endblock content %}

