{% extends 'dashbord/base.html' %}

{% block bradcrum %}
	<li class="active">Dashbord</li>
{% endblock %}
{% block menu_active%}active{% endblock %}

{% block content %}

	{% include 'dashbord/inludes/points.html' %}


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Points summary</div>
				<div class="panel-body">
					<table class="table">
					    <thead>
					    <tr>
					        <th>username</th>
					        <th>Name</th>
				    		{% if request.user.is_leader %}
				    			<th>Score</th>
				    		{% endif %}
					        
					        <th>Is Lead</th>
					    </tr>
					    </thead>
					    <tbody>
					    	{% for member in request.user.team.members.all %}
					    	<tr>
					    		<td>{{member.member.username}}</td>
					    		<td>{{member.member.get_full_name}}</td>
					    		{% if request.user.is_leader %}
					    			<td>{{member.get_points}}</td>
					    		{% endif %}
					    		<td>{{member.is_leader}}</td>
					    	</tr>
					    	{% endfor %}
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!--/.row-->	


{% endblock content %}

