{% extends 'dashbord/base.html' %}

{% block bradcrum %}
	<li class="active">Dashbord</li>
{% endblock %}
{% block menu_active%}active{% endblock %}

{% block content %}

	{% include 'dashbord/inludes/points.html' %}
	{% include 'dashbord/inludes/blog_post_form.html' %}

		


{% endblock content %}

{% block js %}
{{block.super}}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
  tinymce.init({ 
  	selector:'#id_content' 
  });
  </script>
{% endblock js%}

