{% extends 'dashbord/base.html' %}

{% block bradcrum %}
	<li class="active">Dashbord</li>
{% endblock %}

{% block content %}


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Review blog</div>
					<div class="panel-body">
						<table class="table">
						    <thead>
						    <tr>
						        <th >Heading</th>
						        <th >Posted By</th>
						        <th>Category</th>
						    </tr>
						    </thead>
						    <tbody>
						    	{% for blog in blogs %}
						    	<tr>
						    		<td style="max-width:400px;"> <a href="{% url 'blog-review' blog.id %}">{{blog.title}}</a> </td>
						    		<td>{{blog.authors.all.0}}</td>
						    		<td>{{blog.categories.all.0}}</td>
						    	</tr>
						    	{% endfor %}
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	

{% endblock content %}