{% extends "zinnia:zinnia/base.html" %}
{% load zinnia i18n %}

{% block sidebar %}
<aside id="widget-welcome" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Welcome! to Yogesh blog" %}
  </div>
  <div class="panel-body">
    <p>
      {% trans "Currently a software engineer at Google, Indore. Usually contribute on open source  (Python Django 2008-2016)" %}
    </p>
    <p>
      <img src="https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=328&d=identicon&r=PG" title="OHH">
    </p>
  </div>
</aside>
<aside id="widget-categories" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Categories" %}
  </div>
  {% get_categories %}
</aside>
<aside id="widget-authors" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Authors" %}
  </div>
  {% get_authors %}
</aside>
<aside id="widget-recents" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Recent entries" %}
  </div>
  {% get_recent_entries %}
</aside>
<aside id="widget-comments" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Recent comments" %}
  </div>
  {% get_recent_comments %}
</aside>
<aside id="widget-linkbacks" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Recent linkbacks" %}
  </div>
  {% get_recent_linkbacks %}
</aside>
<aside id="widget-randoms" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Random entries" %}
  </div>
  {% get_random_entries %}
</aside>
<aside id="widget-populars" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Popular entries" %}
  </div>
  {% get_popular_entries %}
</aside>
{% if user.is_authenticated %}
<aside id="widget-tools" class="widget panel panel-danger">
  <div class="panel-heading">
    {% trans "Tools" %}
  </div>
  <ul class="list-group">
    {% if perms.zinnia %}
    <li class="list-group-item">
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        <span class="glyphicon glyphicon-book"></span>
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li class="list-group-item">
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        <span class="glyphicon glyphicon-pencil"></span>
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li class="list-group-item">
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        <span class="glyphicon glyphicon-off"></span>
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</aside>
{% endif %}
{% endblock sidebar %}
