{% load widget_tweaks %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Form Elements</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form role="form" method="POST" >
                     {% csrf_token %}
                        <div class="form-group has-success">
                        <label>{{form.title.field.label}}</label>
                        {{ form.title|add_class:"form-control"|attr:"placeholder:Blog title" }}
                        </div>

                        <div class="form-group has-success">
                        <label>{{form.lead.field.label}}</label>
                        {{ form.lead|add_class:"form-control"|attr:"placeholder:Heading of blog Description that will show in lsiting page..." }}
                        </div>

                        <div class="form-group has-success">
                        <label>{{form.content.field.label}}</label>
                        {{ form.content|add_class:"form-control"|attr:"placeholder:Blog Description" }}
                        </div>

                        <div class="form-group has-success">
                        <label>{{form.image.field.label}}</label>
                        {{ form.image|add_class:"form-control"|attr:"placeholder:Blog Image if you have" }}
                        </div>

                        <div class="form-group has-success">
                        <label>{{form.categories.field.label}}</label>
                            {{ form.categories|add_class:"form-control"|attr:"placeholder:Blog Category if not available? please talk with TL." }}
                        </div>

                        <div class="form-group has-success">
                        <label>{{form.tags.field.label}}</label>
                            {{ form.tags|add_class:"form-control"|attr:"placeholder:Blog Tags" }}
                        </div>

                        <div class="form-group has-success">
                        <input type="submit" name="">
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->