{% load static %}

<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<script src= '{% static "js/bootstrap.min.js" %}' ></script>
<script src='{% static "js/bootstrap-datepicker.js" %}' ></script>
<script src= '{% static "js/chart.min.js" %}' ></script>
<script src='{% static "js/easypiechart.js" %}' ></script>
<script src='{% static  "js/easypiechart-data.js" %}'></script>

<script>
	//$('#calendar').datepicker({
	//});
</script>


<script type="text/javascript">
var createCookie = function(name, value, days) {
    var expires;
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    }
    else {
        expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
}

function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
}


$('ul.nav.menu li a').click(function() {
    var menu_url = $(this).attr('href')
    createCookie('active_menu',menu_url,2)
});

$( document ).ready(function() {
    menu_url = getCookie('active_menu')
    $('ul.nav.menu li').removeClass('active')
    element = $('ul.nav.menu li a[href="' + menu_url + '"]')
    li = element.parent()
    li.addClass('active')
});

</script>