{% load static %}

<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href= '{% static "css/datepicker3.css" %}' rel="stylesheet">
<link href= '{% static "css/styles.css" %}' rel="stylesheet">

<!--Icons-->

<script src='{% static "js/lumino.glyphs.js" %}'></script>

<!--[if lt IE 9]>
<script src='{% static "js/html5shiv.js" %}' ></script>
<script src='{% static "js/respond.min.js" %}' ></script>
<![endif]-->