{% extends 'dashbord/base.html' %}

{% block bradcrum %}
	<li class="active">Dashbord</li>
{% endblock %}
{% block menu_active%}active{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
			{% for team in teams %}
			<div class="panel panel-default">
				<div class="panel-heading"> <strong>{{team.name}}</strong> : {{team.get_team_points}}</div>
				<div class="panel-body">
					<table class="table">
					    <thead>
					    <tr>
					        <th>Name</th>
					        <th>Points</th>
					        <th>is captain</th>
					    </tr>
					    </thead>
					    <tbody>
					    	{% for member in team.members.all %}
					    	<tr>
					    		<td style="max-width:400px;"> {{member.member}} </td>
					    		<td>{{member.get_points}}</td>
					    		<td>{{member.is_leader}}</td>
					    	</tr>
					    	{% endfor %}
					    </tbody>
					</table>
				</div>
			</div>
			{% endfor %}
		</div>
	</div><!--/.row-->	


{% endblock content %}

